{% extends 'base.html' %}
{% block title %} All Users {% endblock title%}
{% block deleteAcc %}
<div class="form-inline mx-2 my-lg-0 ">
    <a href="/details/{{user.id}}" class="btn btn-warning my-2 my-sm-0" type="button" id="logout">Show Details</a>
</div>          
{% endblock deleteAcc %}


{% block content %}
<h2 align="center">All Users</h2>
        <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" >SrNo</th>
                        <th scope="col">Email</th>
                        <th scope="col">First_name</th>
                        <th scope="col"  style="text-align:center">Total Notes</th>
                      </tr>
                </thead>
                <tbody>
                {% for usr,count in all_users %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{usr.email}}</td>
                    <td>{{usr.first_name}}</td>
                    <td style="text-align:center">{{count}}</td>                    
                  </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
    </div>


{% endblock content %}